<template name="search">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3"> {{> searchBox}}
                <div>
                    <button type="button" id="search_button" class="btn btn-lg btn-info">Search</button>
                </div>
            </div>
            <div class="col-md-9" id="result">
                {{#if searchIsPressed}}
                    {{> results }}     
                {{/if}}
                
            </div>
        </div>
    </div>
</template>
