<template name="preference">-
<form>
  <ul>
    <li>
      Living Preference
      <ul>
        <li>How often do you usually clean the room?
          <div class="radio">
            <label>
              <input type="radio" name="roomCleaning" id="roomCleaning1" value="1">
              Once a week
            </label>
          </div>
          <div class="radio">
            <label>
              <input type="radio" name="roomCleaning" id="roomCleaning2" value="2">
              Fortnightly
            </label>
          </div>
          <div class="radio">
            <label>
              <input type="radio" name="roomCleaning" id="roomCleaning3" value="3">
              Clean when needed
            </label>
          </div>
          <div class="radio">
            <label>
              <input type="radio" name="roomCleaning" id="roomCleaning4" value="4">
              Others
            </label>
          </div>
        </li>
      </ul>
      <ul>
        <li>How often do you usually clean the toilet?
          <div class="radio">
            <label>
              <input type="radio" name="roomCleaning" id="roomCleaning1" value="1">
              Once a week
            </label>
          </div>
          <div class="radio">
            <label>
              <input type="radio" name="toiletCleaning" id="toiletCleaning2" value="2">
              Fortnightly
            </label>
          </div>
          <div class="radio">
            <label>
              <input type="radio" name="toiletCleaning" id="toiletCleaning3" value="3">
              Clean when needed
            </label>
          </div>
          <div class="radio">
            <label>
              <input type="radio" name="toiletCleaning" id="toiletCleaning4" value="4">
              Not willing to clean
            </label>
          </div>
          <div class="radio">
            <label>
              <input type="radio" name="toiletCleaning" id="toiletCleaning5" value="5">
              Others
            </label>
          </div>
        </li>
      </ul>
      <ul>
        <li>How often do you usually do your laundry?
          <div class="radio">
            <label>
              <input type="radio" name="laundry" id="laundry1" value="1">
              Daily
            </label>
          </div>
          <div class="radio">
            <label>
              <input type="radio" name="laundry" id="laundry2" value="2">
              2 - 3 times per week
            </label>
          </div>
          <div class="radio">
            <label>
              <input type="radio" name="laundry" id="laundry3" value="3">
              Once a week
            </label>
          </div>
        </li>
      </ul>
      <ul>
        <li>When do you usualy go to bed?
          <select name="sleepTime" class="form-control">
            <option value="0">0am</option>
            <option value="1">1am</option>
            <option value="2">2am</option>
            <option value="3">3am</option>
            <option value="4">4am</option>
            <option value="5">5am</option>
            <option value="6">6am</option>
            <option value="7">7am</option>
            <option value="8">8am</option>
            <option value="9">9am</option>
            <option value="10">10am</option>
            <option value="11">11am</option>
            <option value="12">12am</option>
            <option value="13">1pm</option>
            <option value="14">2pm</option>
            <option value="15">3pm</option>
            <option value="16">4pm</option>
            <option value="17">5pm</option>
            <option value="18">6pm</option>
            <option value="19">7pm</option>
            <option value="20">8pm</option>
            <option value="21">9pm</option>
            <option value="22">10pm</option>
            <option value="23" selected>11pm</option>
          </select>
        </li>
      </ul>
      <ul>
        <li>When do you usualy wake up?
          <select name="wakeUpTime" class="form-control">
            <option value="0">0am</option>
            <option value="1">1am</option>
            <option value="2">2am</option>
            <option value="3">3am</option>
            <option value="4">4am</option>
            <option value="5">5am</option>
            <option value="6">6am</option>
            <option value="7" selected>7am</option>
            <option value="8">8am</option>
            <option value="9">9am</option>
            <option value="10">10am</option>
            <option value="11">11am</option>
            <option value="12">12am</option>
            <option value="13">1pm</option>
            <option value="14">2pm</option>
            <option value="15">3pm</option>
            <option value="16">4pm</option>
            <option value="17">5pm</option>
            <option value="18">6pm</option>
            <option value="19">7pm</option>
            <option value="20">8pm</option>
            <option value="21">9pm</option>
            <option value="22">10pm</option>
            <option value="23">11pm</option>
          </select>
        </li>
      </ul>
      <ul>
        <li>Do you usually invite friends to your house?
          <div class="radio">
            <label>
              <input type="radio" name="inviteFriends" id="inviteFriends1" value="1">
              Never
            </label>
          </div>
          <div class="radio">
            <label>
              <input type="radio" name="inviteFriends" id="inviteFriends2" value="2">
              Sometimes
            </label>
          </div>
          <div class="radio">
            <label>
              <input type="radio" name="inviteFriends" id="inviteFriends3" value="3">
              Often
            </label>
          </div>
          <div class="radio">
            <label>
              <input type="radio" name="inviteFriends" id="inviteFriends4" value="4">
              Very frequent
            </label>
          </div>
        </li>
      </ul>
      <ul>
        <li>What's your sleeping condition?
          <div class="radio">
            <label>
              <input type="radio" name="sleepingCondition" id="sleepingCondition1" value="1">
              Once a week
            </label>
          </div>
          <div class="radio">
            <label>
              <input type="radio" name="sleepingCondition" id="sleepingCondition2" value="2">
              Fortnightly
            </label>
          </div>
          <div class="radio">
            <label>
              <input type="radio" name="sleepingCondition" id="sleepingCondition3" value="3">
              Clean when needed
            </label>
          </div>
          <div class="radio">
            <label>
              <input type="radio" name="sleepingCondition" id="sleepingCondition4" value="4">
              Not willing to clean
            </label>
          </div>
          <div class="radio">
            <label>
              <input type="radio" name="sleepingCondition" id="sleepingCondition5" value="5">
              Others
            </label>
          </div>
        </li>
      </ul>
      <ul>
        <li>What's your sleeping condition?
          <div class="radio">
            <label>
              <input type="radio" name="sleepingCondition" id="sleepingCondition1" value="1">
              Once a week
            </label>
          </div>
          <div class="radio">
            <label>
              <input type="radio" name="sleepingCondition" id="sleepingCondition2" value="2">
              Fortnightly
            </label>
          </div>
          <div class="radio">
            <label>
              <input type="radio" name="sleepingCondition" id="sleepingCondition3" value="3">
              Clean when needed
            </label>
          </div>
        </li>
      </ul>
      <ul>
        <li>What's your sleeping condition?
          <div class="radio">
            <label>
              <input type="radio" name="sleepingCondition" id="sleepingCondition1" value="1">
              Once a week
            </label>
          </div>
          <div class="radio">
            <label>
              <input type="radio" name="sleepingCondition" id="sleepingCondition2" value="2">
              Fortnightly
            </label>
          </div>
          <div class="radio">
            <label>
              <input type="radio" name="sleepingCondition" id="sleepingCondition3" value="3">
              Clean when needed
            </label>
          </div>
        </li>
      </ul>
      <ul>
        <li>What's your sleeping condition?
          <div class="radio">
            <label>
              <input type="radio" name="sleepingCondition" id="sleepingCondition1" value="1">
              Once a week
            </label>
          </div>
          <div class="radio">
            <label>
              <input type="radio" name="sleepingCondition" id="sleepingCondition2" value="2">
              Fortnightly
            </label>
          </div>
          <div class="radio">
            <label>
              <input type="radio" name="sleepingCondition" id="sleepingCondition3" value="3">
              Clean when needed
            </label>
          </div>
        </li>
      </ul>
    </li>
  </ul>
  
  <button type="submit" class="btn btn-default">Submit</button>
</form>
</template>