<template name="question1">
    <div class="modal-body">
        <p id="start_text">
            Before your discovery, we would like to know just a little bit more about you, so that we could provide you a truly personalized service.......
        </p>
        <div class="row">
            <div type="button" id="OK_button" class="btn btn-success col-xs-8 col-xs-offset-2 col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">OK! Let's Go!</div>
        </div>
    </div>
</template>
