<template name="question3">
    <div class="modal-header">
        <h4 class="modal-title">Noise During Sleep?</h4>
    </div>

    <div class="modal-body">
        <div class="row btn-group-justified choices_row" role="group">
            {{#each questions}}
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 choice">
                <div>
                    <img src="{{src}}" id="{{name}}" class="choice_img btn btn-choice">    
                </div>
                <p> {{name}} </p>
            </div>
            {{/each}}
        </div>
    </div>
</template>
