<template name="question8">
    <div class="modal-body">
    	<h3>Do you have anything else you want to share?</h3>
    	<input type="text" name="" id="input" class="form-control" value="" required="required" pattern="" title="" placeholder="optional">
        <h3>It's done! Do you want to save your preferences?</h3>
        <div class="row">
            <button type="button" class="btn btn-default" id="register">Yes! Register & Save</button>
            <button type="button" class="btn btn-default" id="skip">No. Later, Later!</button>
        </div>
    </div>
</template>
