<template name="signup">
    <style type="text/css">
    html {
        background: url(/bkg.png) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    </style>

    <img src="/landingLogo.png" id="langdinglogo" />
    <div id="slogn">
        <p>
            Personalize your roommate discovery^
        </p>
    </div>

    <div id="modal-2" class="modal" tabindex="-1" role="dialog" style="display: block">
        <div class="modal-dialog open">
            <div class="modal-content">
                {{> atForm state='signUp'}}
            </div>
        </div>
    </div>
</template>
