<template name="room">
	<div class="row">
		{{> slider photos = photos}}
	</div>
	<div class="row">
		people who are interested in this house
	</div>
	<div class="row">
		<div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
			Some descriptions there
			{{address}}
			{{distance}}
			{{people_interested}}
		</div>
		<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
			<a href="#" class="btn btn-primary btn-lg" role="button">Let me In!</a>
			<div>
				a map here
			</div>
			<div>
				some info about owner
			</div>
		</div>

	</div>

</template>