<template name="room">
    <div class="container">
        <div class="row" style="height: 400px">
            {{> slider photos = photos_with_index}}
        </div>
        <hr/>
        <div class="row">
            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                <div class="card">
                    <h2>Roomies who have also indicated interest in this house:</h2> 
                    {{#each people_interested}}
                    <div style="display: inline-block">
                        <a href="/users/{{this}}" title="Click to see if they can be your potential roommate!">
                            <div>
                                <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                            </div>
                            <div>
                                {{name this}}
                            </div>
                        </a>
                    </div>
                    {{/each}}
                </div>
                <div class="card">
                    <h2>Description of this accommodation</h2>
                    <img src="{{description}}">
                </div>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <div class="card">
                    <span>Preferred Move in Date</span>
                    <input type="text" name="movein" id="inputMovein" class="form-control" value="" required="required" title="">
                    <span>Preferred Move Out Date</span>
                    <input type="text" name="moveout" id="inputMoveout" class="form-control" value="" required="required" title="">
                    <hr/>
                    <button type="button" class="btn btn-primary" id="inButton">Indicate my interest in this accommodation</button>
                </div>
                <div class="card">
                    <span>Location on Map</span>
                    <img src="/map.png" class="contain_img">
                </div>
                <div class="card">
                    Landlord: Bob
                    <br/> Telephone: 88888888
                </div>
            </div>
        </div>
    </div>
</template>
