<template name="room">
    <div class="container">
        <div class="row">
            {{> slider photos = photos}}
        </div>
        <div class="row">
            <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                <h2>People who are interested in this house:</h2>
                <!-- <a href="/users/{{this}}"> -->
                <!-- <div> -->
                <!-- {{percentage this}} -->
                <!-- </div> -->
                <!-- </a> -->
                {{#each people_interested}}
                <div style="display: inline-block">
                    <a href="/users/{{this}}">
                        <div>
                            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                        </div>
                        <div>
                            {{name this}}
                        </div>
                    </a>
                </div>

                {{/each}}
                <h2>House Description</h2>
                <div>
                    <img src="{{description}}">
                </div>
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">Let Me In!
                </button>
                <div>
                    <img src="http://gothere.sg/maps/staticmap?sensor=false&size=256x256&zoom=17&center=1.34320680264,103.679646504&markers=1.34320680264,103.679646504,red" style="width: 100%">
                </div>
                <div>
                    Landerlord: Bob
                    <br/> Telephone: 88888888
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Register Interest</h4>
                </div>
                <div class="modal-body">
                    <h2>Move in Date</h2>
                    <input type="date" name="movein" id="inputMovein" class="form-control" value="" required="required" title="">
                    <h2>Move Out Date</h2>
                    <input type="date" name="moveout" id="inputMoveout" class="form-control" value="" required="required" title="">
                    <h2>Anything else you want to share with potential roommates?</h2>
                    <input type="text" name="" id="input" class="form-control" value="" pattern="" title="">
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Confirm</button>
                </div>
            </div>
        </div>
    </div>
</template>
